/*  Style General */
*
{
  box-sizing:border-box; /* Uses border-box in all elements. */
}
/*------------------Body Styles-----------------------*/
/*Style that adjusts the background color of the page using the line-gradient property*/
body {
  font-family: "Source Code Pro", monospace; /* Uses Google Font for modern monospace look. */
  font-size: 16px; /* Sets a base font size. */
  line-height: 2; /* Increases the line height for better readability. */
  margin: 2rem;
  padding: 2rem;
  color: #33ff33; /* Classic green color for the text */
  border: 2px solid #33ff33;
  background-color: #131313; /* Set black as background for the "hacky" appearance */
}
/*------------------Text Styles-----------------------*/

/*Style that adjusts the color of the text in the h1 headings on the page*/
h1{
  font-size: 2.0rem; /* Sets a larger font size for level-1 headings. */
  text-align: center; /* Aligns the level-1 heading to the center. */
  text-shadow: 3px 3px 5px rgba(0, 204, 0, 0.7); /* Adds a drop shadow effect for emphasis. */
}
/*Style that adjusts the color of the text in the h2 headings on the page*/
h2{
  font-size: 1.6rem; /* Sets a moderate font size for level-2 headings. */
  font-weight: 600; /* Makes it slightly bolder for differentiation. */
  text-transform: uppercase; /* Converts text to uppercase for visual prominence. */
}
/*Style adjusts the color of the text in the h3 headings on the page*/
h3{
   font-size: 1.2rem; /* Sets a size that's between level-2 heading and the texts on the page for differentiation. */
}

h1, h2, h3, h4
{
  padding-bottom: 1rem; /* Applies padding below headers to provide spacing and ensure content doesn't feel cramped. */
}

p, li, table, form
{
  font-size: 1rem; /* Sets font size for texts on the page. */
}

/*Style adjusts the color of the text in the h4 headings on the page*/
h4{
  font-size: 1rem; /* Sets a moderate font size for level-2 headings. */
  font-weight: 600; /* Makes it slightly bolder for differentiation. */
  text-transform: uppercase; /* Converts text to uppercase for visual prominence. */
}

header section
{
  display: flex;
  justify-content: space-between; /* Separates items from each other in the x-axis. */
  height: 20rem;
}

main section,
footer section
{
  margin: 4rem 0; /* Separates them using collapsing margins. */
  border-top: 2px solid #33ff33; /* Strengthens the separation between them. */
}

/* Adjusts form elements to capture same look and feel. */
form input,
form textarea,
form select
{
  padding: 0.1rem 0.2rem;
  color: #33ff33;
  border: 2px dotted #33ff33;
  background-color: #131313;
}

form fieldset
{
  margin: 0;
  padding: 0;
  border: none;
}

form button
{
  padding: 0.5rem 1rem;
  color: #33ff33;
  border: 2px solid #33ff33;
  background-color: #131313;
}

/* Remove outlines from form elements, ensuring a cleaner look*/
form input,
form textarea
{
  outline: none;
} 

/* ---- HEADER - Introduction SECTION ---- */


header section .image-container
{
  align-self: flex-start; /* Positions itself to the start of y-axis. */

  /* Makes the image shape square. */
  width: 15rem;
  height: 15rem;
}

header section .image-container img
{
  display: block;
  /* Fits the image into the container div. */
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Rounds the image. */
  object-fit: cover; /* Preserves the original aspect ratio. */
  object-position: 100% 20%; /* Makes the face visible moving the image down. */
}

header section .name-container
{
  align-self: center; /* Positions itself to the center of y-axis. */
}
header section .information-container
{
  align-self: flex-end; /* Positions itself to the end of y-axis. */
}

/* -------Table space between cells--------*/
table {
    border-collapse: separate; /* Required for it to work */
    border-spacing:  2rem 0px; /* Horizontal and vertical spacing between cells */
  }
  
/* -- MAIN - Technologies SECTION -- */
.technologies .container
{
display:flex;
justify-content: space-around;
}

/* -- MAIN - Tools SECTION -- */
.tools .container
{  
  display: flex;
  justify-content: center;
}

/* -- MAIN - Contact SECTION -- */
.contact .form-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .text-input-container,
.contact .select-container,
.contact .checkbox-container{
  display: flex;
  width: 30rem;
  margin-bottom: 1rem;
}

.contact .text-input-container label,
.contact .select-container label{
  flex-grow: 1;
}

.contact .text-input-container input,
.contact .text-input-container textarea,
.contact .select-container select{
  width: 20rem;
}

.contact .text-input-container textarea{
  height: 10rem;
}

.contact .button-container{
  display: flex;
  justify-content: flex-end;
}

.contact .button-container button[type=reset]{
  margin-right: 1rem;
}

/*------------------Page Links-----------------------*/
/*Style to set the color and remove the lines below the link text*/
a
{
  color: rgb(251, 247, 6);
  text-decoration: none;
}
/*Style to set the color and remove the lines below the visited link text */
a:visited
{
  color: rgb(228, 235, 228);
  text-decoration: none;
}
/*Style Highlights the background of the link text when the mouse pointer is placed over it */
a:hover {
  background-color: rgb(15, 230, 180);
  color: black;
  }
 

